$content-background: #141e2d;

.page {
  margin-left: $main-sidebar-width + $section-nav-width;

  &.padded,.padded {
    padding: 30px;
  }

  &.centered,.centered {
    display: flex;
    justify-content: center;
  }

  .page-content {
    width: 600px;
    min-height: 250px;
    background-color: $content-background;
    border-radius: 2px;
    margin-top: 30px;
  }

  header {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: space-between;

    h1,h2,h3,h4 {
      font-weight: 300;
      margin: 0;
    }

    h1 {
      font-size: 26px;
    }

    h4 {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
    }
  }

  form {
    font-size: 14px;

    input,textarea,input:focus,textarea:focus {
      background-color: #131b29;
      border-color: #2f3c4e;
      color: white;
      font-size: 14px;
    }

    .btn {
      font-size: 14px;
    }

    small {
      font-size: 12px;
    }
  }

  .page-info {
    display: flex;
    width: 600px;
    background-color: $content-background;
    border-radius: 2px;
    margin-top: 30px;
    i {
      font-size: 40px;
      margin-bottom: 20px;
      margin-right: 20px;
    }
    h3 {
      font-weight: 300;
      font-size: 26px;
      span {
        font-size: 22px;
        font-weight: 400;
      }
    }
  }
}
