
.table {
  font-size: 14px;

  thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    font-size: 12px;
    text-transform: uppercase;
    opacity: .6;
    border-bottom: 2px solid rgba(222, 226, 230, .85);
  }

  th {
    border-top: none;
  }

  td {
    border-top: solid 1px #303f50;
    opacity: .85;
  }
}
