@import 'bootstrap';
@import 'section-nav';
@import 'table';
@import 'page';
@import 'variables';

body {
  background-color: #172335;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.btn-outline-primary,.btn-outline-dark {
  color: white;
  font-size: 14px;
  i {
    padding-right: 3px;
    font-size: 16px;
  }
}
