<app-api-services-sidebar></app-api-services-sidebar>

<div class="page padded">
  <header>
    <h4>Api Services</h4>
    <h1>All Services List</h1>
  </header>

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let service of services">
        <td></td>
        <td>{{service.name}}</td>
        <td>{{service.type}}</td>
        <td>{{service.description}}</td>
      </tr>
    </tbody>
  </table>

</div>
