<app-api-services-sidebar></app-api-services-sidebar>

<div class="page padded">
  <header>
    <div>
      <h4>Api Services</h4>
      <h1>All Services List</h1>
    </div>
    <div>
      <a class="btn btn-outline-dark" routerLink="../new" *ngIf="showServices()">
        <i class="zmdi zmdi-plus-square"></i>
        New Service
      </a>
    </div>
  </header>

  <div class="centered">
    <div class="page-info padded" *ngIf="showFirstInfo()">
      <div class="text-center">
        <h3>Looks like you don't have any services yet.
          <span class="sub">Ready to create the first one?</span>
        </h3>
        <a class="btn btn-primary mt-3" routerLink="../new">Create Service</a>
      </div>
    </div>
  </div>

  <table class="table" *ngIf="showServices()">
    <thead>
      <tr>
        <th width="40">Status</th>
        <th width="90"></th>
        <th>Name</th>
        <th>Type</th>
        <th>Prod Version</th>
        <th>Team</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let service of services">
        <td>
          <i class="zmdi zmdi-lock" title="Admin Locked"></i>
          <i class="zmdi zmdi-pin-assistant" title="User Pinned"></i>
        </td>
        <td>
          <a class="btn btn-outline-dark" [routerLink]="getOpenLink(service.id)">Open</a>
        </td>
        <td>{{service.name}} <i class="zmdi zmdi-info" [title]="service.description"></i></td>
        <td>{{service.type}}</td>
        <td>{{service.version}}</td>
        <td>{{service.team}}</td>
      </tr>
    </tbody>
  </table>

</div>
