<app-endpoint-sidebar [endpoints]="endpoints"></app-endpoint-sidebar>

<div class="page padded toolbar-open">

  <!-- Page header -->
  <header *ngIf="!firstView && !isLoading">
    <div>
      <h4>{{service?.name}} Service</h4>
      <h1>{{endpoint?.name}} Methods</h1>
    </div>
    <div>
      <button class="btn btn-outline-primary mt-3" (click)="addAll()">Add All</button>
      <button class="btn btn-outline-primary mt-3" (click)="addGetOne()">Add Get Single</button>
      <button class="btn btn-outline-primary mt-3" (click)="addGetMultiple()">Add Get Multiple</button>
      <button class="btn btn-outline-primary mt-3" (click)="addPost()">Add Post</button>
      <button class="btn btn-outline-primary mt-3" (click)="addPut()">Add Put</button>
      <button class="btn btn-outline-primary mt-3" (click)="addDelete()">Add Delete</button>
    </div>
  </header>

  <div class="loader" *ngIf="isLoading"></div>

  <div class="page-info full-width padded no-top-margin flex-column" *ngIf="firstView && !isLoading">

    <!-- Add first endpoint -->
    <div class="text-center full-width">
      <h3>Looks like {{endpoint?.name}} doesn't have any http endpoint methods yet.
        <br>
        <span class="sub">Ready to create the first one?</span>
      </h3>
      <button class="btn btn-outline-primary mt-3" (click)="addAll()">Add All</button>
      <button class="btn btn-outline-primary mt-3" (click)="addGetOne()">Add Get Single</button>
      <button class="btn btn-outline-primary mt-3" (click)="addGetMultiple()">Add Get Multiple</button>
      <button class="btn btn-outline-primary mt-3" (click)="addPost()">Add Post</button>
      <button class="btn btn-outline-primary mt-3" (click)="addPut()">Add Put</button>
      <button class="btn btn-outline-primary mt-3" (click)="addDelete()">Add Delete</button>
    </div>

  </div>

  <!-- Get block -->

  <div class="page-info full-width padded flex-column method-area" *ngFor="let method of endpoint?.endpointMethods">

    <!-- Header -->
    <div class="row justify-content-between">
      <div>
        <span [ngClass]="{'badge-info': method.type === 'Get Single' || method.type === 'Get Multiple', 'badge-danger': method.type === 'Delete', 'badge-success': method.type === 'Put' || method.type === 'Post'}"
          class="badge">{{method.type}}</span>
      </div>
      <div class="text-right">
        <span class="badge badge-dark dark-path">{{method.subRouteFragments}}</span>
      </div>
    </div>

    <!-- Logic builder -->
    <div class="row">

      <div class="inputs-area col-3">
        <div class="process-label">
          <div>Inputs</div>
          <i class="zmdi zmdi-plus-circle" title="Add Input"></i>
        </div>
        <div>
          <div class="input-row">
            <div class="font-weight-normal">Request</div>
            <div>Context</div>
            <div>
              <i class="zmdi zmdi-dot-circle"></i>
            </div>
          </div>
          <div class="input-row">
            <div class="font-weight-normal">Response</div>
            <div>Context</div>
            <div>
              <i class="zmdi zmdi-dot-circle"></i>
            </div>
          </div>
          <div class="input-row">
            <div class="font-weight-normal">Id</div>
            <div>Url</div>
            <div>
              <i class="zmdi zmdi-dot-circle"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="process-area col-9">
        <div class="process-label">Process</div>
        <div class="task">
          <div class="leader">
            <i class="zmdi zmdi-assignment-return"></i>
          </div>
          <div class="name">Complete</div>
        </div>
      </div>

    </div>

  </div>

</div>

<!-- Toolbar -->

<div class="side-toolbar">
  <div class="toolbar-header">Process
    <span>Toolbar</span>
  </div>
</div>
