.method-area {
  padding: 15px;
  margin-top: 15px;
}

.inputs-area {
  padding: 10px;
  background-color: #182335;
  margin-top: 10px;
  border-radius: 2px;
  font-weight: 300;
  font-size: 14px;
}

.dark-path {
  background-color: #293e5f;
}

.process-area {
  padding: 10px;
  padding-left: 15px;
  margin-top: 10px;
}

.process-label {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
}
