$notHoveredOpacitiy: .6;

.method-area {
  padding: 15px;
  margin-top: 15px;
}

.method-header {
  .text-right {
    i {
      cursor: pointer;
      opacity: $notHoveredOpacitiy;
      &:hover {
        opacity: 1;
      }
    }
  }
}

small {
  font-size: 13px;
}

.input-row {
  display: flex;
  font-size: 12px;
  justify-content: flex-end;
  opacity: $notHoveredOpacitiy;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
  i {
    font-size: 16px;
  }
  div {
    padding-left: 10px;
  }
}

.inputs-area {
  padding: 10px;
  background-color: #182335;
  margin-top: 10px;
  border-radius: 2px;
  font-weight: 300;
  font-size: 14px;
}

.dark-path {
  background-color: #293e5f;
}

.process-area {
  padding: 10px;
  padding-left: 15px;
  margin-top: 10px;
}

.process-label {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  i {
    font-size: 16px;
    opacity: .7;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}

.task {
  display: flex;
  background-color: #182335;
  height: 30px;
  font-size: 12px;
  border-radius: 2px;
  .leader {
    border-radius: 2px;
    display: flex;
    font-size: 18px;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: #4c9e5e;
    width: 30px;
  }
  .name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
  }
}
