<app-api-service-sidebar></app-api-service-sidebar>

<div class="page padded">

    <!-- Page header -->
    <header>
      <div>
        <h4>{{currentService.name}} {{currentService.type}} Service</h4>
        <h1>All Endpoints List</h1>
      </div>
      <div>
        <button class="btn btn-outline-dark"
          (click)="startNewEndpoint()"
          *ngIf="!firstView && formMode !== 'New'">
          <i class="zmdi zmdi-plus-square"></i>
          New Endpoint
        </button>
      </div>
    </header>

    <!-- Add first endpoint -->
    <div class="centered" *ngIf="firstView">
      <div class="page-info padded">
        <div class="text-center">
          <h3>Looks like you don't have any endpoints yet.
            <span class="sub">Ready to create the first one?</span>
          </h3>
          <button class="btn btn-primary mt-3" (click)="startNewEndpoint()">Create Endpoint</button>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="!firstView">
      <div class="col-8">

        <!-- No endpoints -->
        <div class="page-info full-width padded" *ngIf="endpoints.length === 0">
          <div class="text-center">
            No endpoints yet
          </div>
        </div>

        <!-- Endpoints table -->
        <table class="table" *ngIf="endpoints.length > 0">
          <thead>
            <tr>
              <th width="40">Status</th>
              <th width="90"></th>
              <th>Name</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let endpoint of endpoints">
              <td>
                <i class="zmdi zmdi-lock" title="Requires Authenticated User"></i>
                <i class="zmdi zmdi-pin-assistant" title="User Pinned"></i>
              </td>
              <td>
                <button class="btn btn-outline-dark">Open</button>
              </td>
              <td>{{endpoint.name}}</td>
              <td>
                <ng-container *ngIf="endpoint.description">{{endpoint.description}}</ng-container>
                <ng-container class="muted-text" *ngIf="!endpoint.description">No Description</ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-4 page-content padded">

        <div class="text-center mt-3" *ngIf="formMode === 'NotSelected'">Select endpoint to edit.</div>

        <form (submit)="saveEndpoint()" *ngIf="formMode !== 'NotSelected'">
          <h3>New Endpoint</h3>
          <fieldset>
            <div class="form-group">
              <label for="name-input">Name</label>
              <input id="name-input"
                name="name"
                type="text"
                class="form-control"
                [(ngModel)]="currentEndpoint.name"
                placeholder="Enter name">
              <small class="form-text text-muted">
                Service name may contain spaces and should not contain 'Api' or 'Service'.
              </small>
            </div>
            <div class="form-group">
              <label for="description-input">Description</label>
              <textarea id="description-input"
                name="description"
                class="form-control"
                [(ngModel)]="currentEndpoint.description">
              </textarea>
              <small class="form-text text-muted">
                Let other devs and users know what this service does and what it's for.
              </small>
            </div>
            <button (click)="cancelNewEditEndpoint()" class="btn btn-dark mt-3">Cancel</button>
            <button type="submit" class="btn btn-primary mt-3">Create</button>
          </fieldset>
        </form>
      </div>
    </div>

  </div>
