<app-business-domains-sidebar></app-business-domains-sidebar>

<div class="page padded">

    <div class="row">
      <div [ngClass]="{ 'col-12': firstView, 'col-8': !firstView }">

        <!-- No events -->
        <div class="page-info full-width padded no-top-margin flex-column">

          <!-- Page header -->
          <header *ngIf="!firstView">
            <div>
              <h4>Events</h4>
              <h1>All Events List</h1>
            </div>
            <div>
              <button class="btn btn-outline-dark" (click)="startNewEvent()" *ngIf="!firstView && formMode !== 'New'">
                <i class="zmdi zmdi-plus-square"></i>
                New Event
              </button>
            </div>
          </header>

          <div class="loader" *ngIf="isLoading"></div>

          <!-- Add first event -->
          <div class="text-center full-width" *ngIf="firstView && !isLoading">
            <h3>Looks like there are aren't any events yet.
              <br>
              <span class="sub">Ready to create the first one?</span>
            </h3>
            <button class="btn btn-primary mt-3" (click)="startNewEvent()">Create Event</button>
          </div>

          <div class="text-center" *ngIf="events.length === 0 && !firstView && !isLoading">
            No events yet
          </div>

          <!-- Events table -->
          <table class="table" *ngIf="events.length > 0 && !isLoading">
            <thead>
              <tr>
                <th width="40">Status</th>
                <th width="90"></th>
                <th>Name</th>
                <th>Description</th>
                <th width="50"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let event of events">
                <td>
                  <i class="zmdi zmdi-lock" title="Requires Authenticated User"></i>
                  <i class="zmdi zmdi-pin-assistant" title="User Pinned"></i>
                </td>
                <td>
                  <button class="btn btn-outline-dark" (click)="selectEvent(event)">Open</button>
                </td>
                <td>{{event.name}}</td>
                <td>
                  <ng-container *ngIf="event.description">{{event.description}}</ng-container>
                  <ng-container class="muted-text" *ngIf="!event.description">No Description</ng-container>
                </td>
                <td>
                  <i class="zmdi zmdi-caret-right-circle selected-row-icon" *ngIf="event.id === this.currentEvent.id" title="Currently Selected Event"></i>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

      <div class="col-4 page-content padded no-top-margin" *ngIf="!firstView">
        <div class="text-center mt-3" *ngIf="formMode === 'NotSelected'">Select event to edit.</div>

        <form (submit)="saveEvent()" *ngIf="formMode !== 'NotSelected'">
          <h4>Events</h4>
          <h3 [hidden]="formMode !== 'New'">New Event</h3>
          <h3 [hidden]="formMode !== 'Edit'">Edit Event</h3>
          <fieldset class="mt-3">
            <div class="form-group">
              <label for="name-input">Name</label>
              <input id="name-input" name="name" type="text" class="form-control" [(ngModel)]="currentEvent.name" placeholder="Enter name">
              <small class="form-text text-muted">
                Event name may contain spaces and should not contain 'Event' or 'Action'.
              </small>
            </div>
            <div class="form-group">
              <label for="description-input">Description</label>
              <textarea id="description-input" name="description" class="form-control" [(ngModel)]="currentEvent.description">
                </textarea>
              <small class="form-text text-muted">
                Let other devs and users know what this event does and what it's for.
              </small>
            </div>

            <button [hidden]="formMode !== 'Edit'" (click)="deleteEvent()" class="btn btn-danger mt-3">Delete</button>
            <button (click)="cancelNewEditEvent()" class="btn btn-dark mt-3">Cancel</button>
            <button [hidden]="formMode !== 'New'" type="submit" class="btn btn-primary mt-3">Create</button>
            <button [hidden]="formMode !== 'Edit'" type="submit" class="btn btn-primary mt-3">Save</button>
          </fieldset>
        </form>
      </div>
    </div>

  </div>
