<div class="section-nav">
  <app-corner-logo></app-corner-logo>

  <div class="header">
    <i class="zmdi zmdi-collection-bookmark"></i>
    Resources
  </div>

  <a routerLink="/business-domains/resources" routerLinkActive="active">Resources</a>

  <div class="header">
    <i class="zmdi zmdi-square-down"></i>
    Processes
  </div>

  <a routerLink="/business-domains/commands" routerLinkActive="active">Commands</a>
  <a routerLink="/business-domains/processes" routerLinkActive="active">Processes</a>
  <a routerLink="/business-domains/events" routerLinkActive="active">Events</a>

</div>
