<a routerLink="dashboards/main" routerLinkActive="active" title="Dashboards">
  <i class="zmdi zmdi-view-dashboard"></i>
</a>

<a routerLink="browser-apps/list" routerLinkActive="active" title="Browser Apps">
  <i class="zmdi zmdi-desktop-windows"></i>
</a>

<a routerLink="api-services/list" routerLinkActive="active" title="Services">
  <i class="zmdi zmdi-rss"></i>
</a>

<a routerLink="/business-domains/list" routerLinkActive="active" title="Business Domains">
  <i class="zmdi zmdi-case"></i>
</a>

<a routerLink="user-identities/main" routerLinkActive="active" title="User Identities">
  <i class="zmdi zmdi-accounts-list"></i>
</a>

<a routerLink="/integrations/list" routerLinkActive="active" title="Integrations">
  <i class="zmdi zmdi-input-composite"></i>
</a>

<a routerLink="/security/main" routerLinkActive="active" title="Security">
  <i class="zmdi zmdi-shield-check"></i>
</a>

<a routerLink="/systems-management/main" routerLinkActive="active" title="Systems Management &amp; Usage">
  <i class="zmdi zmdi-play"></i>
</a>

<a routerLink="/testing/main" routerLinkActive="active" title="Testing &amp; Issue Tracking">
  <i class="zmdi zmdi-bug"></i>
</a>

<a routerLink="/business-analytics/main" routerLinkActive="active" title="Business Analytics">
  <i class="zmdi zmdi-chart"></i>
</a>

<a routerLink="/settings/main" routerLinkActive="active" title="Settings">
  <i class="zmdi zmdi-settings"></i>
</a>
